---
title: Every journey is a series of choices...
layout: layouts/home.njk
description: Description. Update me.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  ...the first is to begin the journey. <a href="/intro">View Intro</a>
</p>
